/* for desktop screen sizes */

/* home-section-1 start */
.home {
  width: 100%;
  height: 100%;
}

.home-section-1 {
  width: 100%;
  height: 100vh;
  background-color: #111827;
  padding: 180px;
}

.home-section-1-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.home-section-1-content {
  width: 50%;
}

.home-section-1-content-header {
  display: flex;
  flex-direction: column;
}

.home-section-1-content-header p {
  position: relative;
  font-size: 25px;
  font-weight: 500;
  color: #eab308;
}

.home-section-1-content-header p::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111827;
  top: 0;
  right: 0;
  animation: showRight 1s ease forwards;
  animation-delay: 0.8s;
}

.home-section-1-content-header h1 {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: -10px;
}

.home-section-1-content-header h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111827;
  top: 0;
  right: 0;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-section-1-content-header h3 {
  position: relative;
  font-size: 30px;
  font-weight: 500;
}

.home-section-1-content-header h3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111827;
  top: 0;
  right: 0;
  animation: showRight 1s ease forwards;
  animation-delay: 1.2s;
}

.home-section-1-content-header h3 span {
  color: #eab308;
}

.home-section-1-content div {
  position: relative;
  color: #6b7280;
  margin-top: 10px;
}

.home-section-1-content div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111827;
  top: 0;
  right: 0;
  animation: showRight 1s ease forwards;
  animation-delay: 1.4s;
}

.home-section-1-image {
  position: relative;
  width: 400px;
  height: 400px;
  background-image: url("/public/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.home-section-1-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111827;
  top: 0;
  right: 0;
  animation: showRight 1s ease forwards;
  animation-delay: 2s;
}

.home-section-1-image:hover {
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}

.home-section-1-content button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eab308;
  color: #111827;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.home-section-1-content button:hover {
  box-shadow: 0 4px 8px 0 rgba(234, 179, 8, 0.2),
    0 6px 20px 0 rgba(234, 179, 8, 0.2);
}

.home-section-1-social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icons:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.home-section-1-content-clicks {
  position: relative;
}

.home-section-1-content-clicks::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
  top: 0;
  right: 0;
  animation: showRight 1s ease forwards;
  animation-delay: 2.2s;
}

/* for mobile screen sizes  */

@media (max-width: 768px) {
  .home-section-1-content {
    width: 100%;
  }
  .home-section-1 {
    padding: 0px 30px;
  }
  .home-section-1-image {
    display: none;
  }
  .home-section-1-content p {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .home-section-1-content h1 {
    font-size: 30px;
  }
  .home-section-1-content-header h3 {
    font-size: 20px;
  }
}

/* keyframes anmation */

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* home-section-1-end */

/* home-section-2 start  */

/* for desktop screen sizes  */

.home-section-2 {
  width: 100%;
  height: 100vh;
  background-color: #020617;
  padding: 100px 100px;
}
.home-section-2-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
}

.home-section-2-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section-2-left-frame {
  width: 60%;
  height: 70%;
  border: 10px solid #eab308;
  border-radius: 20px;
}

.home-section-2-left-frame-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/public/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 20px;
  bottom: 20px;
  border-radius: 20px;
}

.home-section-2-left-frame-image:hover {
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}

.home-section-2-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section-2-right-content h1 {
  margin-bottom: 15px;
  color: white;
  font-size: 30px;
}

.home-section-2-right-content h1 span {
  color: #eab308;
}

.home-section-2-right-content p {
  color: #6b7280;
  text-align: justify;
}

.home-section-2-right-content button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eab308;
  color: #111827;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.home-section-2-right-content button:hover {
  box-shadow: 0 4px 8px 0 rgba(234, 179, 8, 0.2),
    0 6px 20px 0 rgba(234, 179, 8, 0.2);
}

/* for mobile screen sizes   */
@media (max-width: 768px) {
  .home-section-2 {
    height: 110vh;
    padding: 0px 30px;
  }
  .home-section-2-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .home-section-2-left {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-section-2-left-frame {
    width: 80%;
    height: 80%;
    border: 10px solid #eab308;
    border-radius: 10px;
  }
  .home-section-2-right {
    width: 100%;
    height: 50%;
  }
  .home-section-2-right-content h1 {
    margin-bottom: 0px;
    font-size: 30px;
  }
  .home-section-2-right-content p {
    color: #6b7280;
    text-align: justify;
    font-size: 14px;
  }
  .home-section-2-right-content button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eab308;
    color: #111827;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
  }
}

/* home-section-2 end */

/* home-section-3 start  */

/* for desktop screen sizes   */
.home-section-3 {
  width: 100%;
  height: max-content;
  background-color: #111827;
  padding: 100px;
}

.home-section-3-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-section-3-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-section-3-header a {
  color: #6b7280;
  text-decoration: none;
}

.home-section-3-container h1 span {
  color: #eab308;
}

.home-section-3-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.home-section-3-content-card {
  background-color: #1f2937;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-section-3-content-card:hover {
  transform: translateY(-10px);
  transition: all 0.3s;
}

.home-section-3-content-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.home-section-3-content-card-content p {
  color: #6b7280;
  text-align: center;
}

/* for mobile screen sizes    */

@media (max-width: 768px) {
  .home-section-3 {
    padding: 10px 30px;
  }
  .home-section-3-content {
    display: flex;
    flex-direction: column;
  }
}

/* for tablet screen sizes */

@media (min-width: 768px) and (max-width: 1200px) {
  .home-section-3-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

/* home-section-3 end */

/* home-section-4 start  */

/* for desktop screen sizes  */

.home-section-4 {
  width: 100%;
  height: 100%;
  background-color: #020617;
  padding: 100px;
}

.home-section-4-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home-section-4-container hr {
  border: 0.1px solid #6b7280;
}
.home-section-4-header h1 span {
  color: #eab308;
}

.home-section-4-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-section-4-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.home-section-4-content-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-section-4-content-card:hover {
  transform: scale(1.01);
  transition: all 0.3s;
}

.home-section-4-content-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-section-4-content-card-title div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-section-4-content-card-title span {
  color: #eab308;
}
.home-section-4-content-card-bar {
  width: 100%;
  height: 10px;
  background-color: #6b7280;
  border-radius: 5px;
}

.home-section-4-content-card-bar-fill {
  width: 100%;
  height: 10px;
  background-color: #eab308;
  border-radius: 5px;
}

/* for mobile screen sizes   */

@media (max-width: 768px) {
  .home-section-4 {
    padding: 10px 30px;
  }
  .home-section-4-content {
    display: flex;
    flex-direction: column;
  }
}

/* section - 4 - end */

/* home-section-5 start  */

/* for desktop screen sizes  */

.home-section-5 {
  width: 100%;
  height: 100vh;
  background-color: #111827;
  padding: 100px;
}

.home-section-5-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home-section-5-content-container {
  display: flex;
  gap: 40px;
}

.home-section-5-container h1 span {
  color: #eab308;
}

.home-section-5-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.home-section-5-content div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-section-5-content div label {
  color: #6b7280;
}

.home-section-5-content div input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #020617;
  font-weight: 500;
}
.home-section-5-content div input:hover {
  border: 1px solid #6b7280;
}

.home-section-5-content div textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #020617;
  color: #6b7280;
  font-weight: 500;
}

.home-section-5-content div textarea:hover {
  border: 1px solid #6b7280;
}

.home-section-5-content button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eab308;
  color: #111827;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.home-section-5-content button:hover {
  box-shadow: 0 4px 8px 0 rgba(234, 179, 8, 0.2),
    0 6px 20px 0 rgba(234, 179, 8, 0.2);
}

.home-section-5-content-image-container {
  width: 50%;
  height: 100%;
  /* padding: 70px; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.home-section-5-content-image {
  width: 500px;
  height: 500px;
  background-image: url("/public/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.home-section-5-content-image:hover {
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}

.contact-details {
  
}
.contact-details p {
  color: #6b7280;
}

/* for mobile screen sizes   */

@media (max-width: 768px) {
  .home-section-5 {
    padding: 10px 30px;
  }
  .home-section-5-content {
    width: 100%;
  }
  .home-section-5-content-image-container {
    display: none;
  }
}
